@page
@model PWP.CLI.Pages._404notfoundModel
@{
    Layout = "_Layout"; 


    <div style="text-align: center; padding: 50px;">
        <h1 style="font-size: 3em; color: #5c2d91;">Parece que  perdiste el rumbo...</h1>
    <p style="font-size: 1.5em; color: #555;">No pudimos encontrar la página que estás buscando. 😕</p>
    <img src="~/images/jisus.gif" alt="Imagen simpática" style="max-width: 50%; margin-top: 20px;">
    <br />
    <a href="/" style="font-size: 1.2em; background-color: #0078D7; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none; margin-top: 30px; display: inline-block;">
        Volver al inicio
    </a>
    
</div>

}
